# Erin Williams (23072947)  

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Database files (VERY IMPORTANT)
# =========================
*.sqlite3

# =========================
# OS files (Mac / Windows)
# =========================
.DS_Store


# =========================
# Pytest / testing cache
# =========================
.pytest_cache/
.cache/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE files (VSCode / PyCharm)
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.swp

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/


# =========================
# Environment variables
# =========================
.env